{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Subscriber example</h1>
    <div id="main--container"></div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let ul = null;
        const hubUrl = new URL('http://localhost:9090/.well-known/mercure');
        hubUrl.searchParams.append('topic', 'chat');

        const lastEventId = localStorage.getItem('lastEventId');
        if (lastEventId != null){
            hubUrl.searchParams.append('Last-Event-ID', lastEventId);
        }

        const es = new EventSourcePolyfill(hubUrl, {
            headers: {
                'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJtZXJjdXJlIjp7InN1YnNjcmliZSI6WyIqIl19fQ.ORJnUIVffZWH4WoZZhcZg74WWlh9f5TVYiaNmUE4u2o',
            }
        });
        es.onmessage = e => {
            localStorage.setItem('lastEventId', e.lastEventId);
            const data = JSON.parse(e.data);

            if (!ul) {
                ul = document.createElement('ul');

                const messages = document.getElementById('main--container');
                messages.innerHTML = '';
                messages.append(ul);
            }

            const li = document.createElement('li');
            li.append(document.createTextNode(data.username));
            ul.append(li);
        }
    </script>{% endblock %}
